.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background: url('../../Images/brightStream.webp') no-repeat center center;
  background-size: cover;
}

.login {
  /*background-color: rgba(255, 255, 255, 0.7); /* Overlay bright green */
  color: #000000;
  font-family: 'Arial', sans-serif;
  padding: 2rem;
  border-radius: 0px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);*/
  width: 800px;
  text-align: center;
}

.login-heading {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.login input {
  width: 80%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 2px solid #ffffff; 
  border-radius: 5px;
  font-size: 1.5em;
  font-family: "Verdana", "Arial", sans-serif;
}

.login button {
  width: 180px;
  height: 80px;
  border-radius: 30px;
  border: none;
  background-color: #17d117;
  color: #ffffff;
  box-shadow: 0px 10px 10px #098d09 inset,
              0px 5px 10px rgba(5, 5, 5, 0.212),
              0px -10px 10px #098d09 inset;
  cursor: pointer;
  display: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 40px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.login button:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.arwss-logo {
  width: 100px; /* Adjust the size as needed */
  margin-bottom: 20px; /* Adjust the spacing as needed */
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.arwss-logo:hover {
  transform: scale(1.1); /* Scale up the image on hover */
}