.menu {
  color: #ffffff;
  font-family: "Garamond", "Times New Roman", serif;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 95%;
  height: 100vh; /* Adjust height to fit within the viewport */
  margin: 5vh auto; /* Adjust margin to fit within the viewport */
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu h1 {
  font-size: 4rem; /* Adjust font size to fit better */
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 1rem 0;
}

.menu h2 {
  font-size: 3rem; /* Adjust font size to fit better */
  margin: 1rem 0;
}

.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.plastic-menu-button,
.metal-menu-button,
.paper-menu-button,
.logout-menu-button {
  width: 200px; /* Adjust width to fit better */
  height: 60px; /* Adjust height to fit better */
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem; /* Adjust font size to fit better */
  margin: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.plastic-menu-button {
  background-color: #000080;
  color: #ffffff;
  box-shadow: 0px 10px 10px #6F8FAF inset,
              0px 5px 10px rgba(5, 5, 5, 0.212),
              0px -10px 10px #6F8FAF inset;
}

.metal-menu-button {
  background-color: #4b5053;
  color: #ffffff;
  box-shadow: 0px 10px 10px #71797E inset,
              0px 5px 10px rgba(5, 5, 5, 0.212),
              0px -10px 10px #71797E inset;
}

.paper-menu-button {
  background-color: #CC5500;
  color: #ffffff;
  box-shadow: 0px 10px 10px #ff720e inset,
              0px 5px 10px rgba(5, 5, 5, 0.212),
              0px -10px 10px #ff720e inset;
}

.logout-menu-button {
  background-color: #17d117;
  color: #ffffff;
  box-shadow: 0px 10px 10px #098d09 inset,
              0px 5px 10px rgba(5, 5, 5, 0.212),
              0px -10px 10px #098d09 inset;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.plastic-menu-button:hover,
.metal-menu-button:hover,
.paper-menu-button:hover,
.logout-menu-button:hover {
  animation: jello-horizontal 0.9s both;
}

.footer {
  margin-top: 20px; /* Adjust margin to fit better */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  font-size: 2rem; /* Adjust font size to fit better */
}

.menu a {
  text-decoration: none;
}