.metal-dashboard {
  background-color: #c4c4c4; 
  color: #000000;
  font-family: "Garamond", "Times New Roman", serif;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  height: 250vh; /* Adjust height to fit within the viewport */
  margin: 5vh auto; /* Adjust margin to fit within the viewport */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metal-dashboard h1 {
  font-size: 2em;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0;
  color: #fff;
  padding-bottom: 1rem;
  overflow: hidden; /* Ensures the text is hidden until the animation completes */
  white-space: nowrap; /* Prevents the text from wrapping */
  animation: typing 3.5s steps(40, end);
}

.metal-recording {
  background-color: #ffffff; /* White background for components */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the component */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  margin-bottom: 20px; /* Space between components */
  color: #000000;
  width: 100%;
}

.metal-recording h2 {
  color: #000000;
  font-size: 3em;
}

.metal-recording p {
  font-size: 2em;
  color: #000000; 
}

.metal-recording-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.metal-recording-controls button {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: #4b5053;
  color: #ffffff;
  box-shadow: 0px 10px 10px #71797E inset,
              0px 5px 10px rgba(5, 5, 5, 0.212),
              0px -10px 10px #71797E inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Lucida Console", "Courier New", monospace;
}

.metal-recording-controls button:hover {
  color: #ffffff;
  animation: jello-horizontal 0.9s both;
}

.bar-chart {
  background-color: #ffffff; /* White background for components */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the component */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  margin-bottom: 20px; /* Space between components */
  width: 100%;
}

.bar-chart h2 {
  display: block;
  font-size: 2.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: #000000;
}

.metal-fact {
  background-color: #4b5053;
  border-radius: 160px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-color: #ffffff;
  border-width: 3px;
  width: 100%;
}

.metal-fact p {
  font-size: 2em;
  color: #ffffff; 
}

.metal-fact h2 {
  font-size: 2.5em;
  color: #ffffff;
}

.metal-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.metal-nav button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #4b5053;
  color: #ffffff;
  box-shadow: 0px 10px 10px #71797E inset,
              0px 5px 10px rgb(255, 254, 254),
              0px -10px 10px #71797E inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 20px;
  text-decoration: none;
}

.metal-nav button:hover {
  color: #ffffff;
  animation: jello-horizontal 0.9s both;
}
.metal-nav a {
  text-decoration: none;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}